In [12]:
!pip install ipython-sql pymysql 
import mysql.connector
!pip install nbmerge

Requirement already satisfied: ipython-sql in ./opt/anaconda3/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: pymysql in ./opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: prettytable<1 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: jedi>=0.16 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: appnope in ./opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: greenlet!=0.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in ./opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Collecting nbmerge
  Downloading nbmerge-0.0.4.tar.gz (7.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: nbmerge
  Building wheel for nbmerge (setup.py) ... done
  Created wheel for nbmerge: filename=nbmerge-0.0.4-py2.py3-none-any.whl size=6393 sha256=d0e669bbd2b3210ec7b2ab2c0799ac85eb41dba9c905b63b392bb1c323666a6a
  Stored in directory: /Users/isabellatcherkes/Library/Caches/pip/wheels/0b/a8/31/4ae563f674b488c82ee72cfe0f86487c21532db97ae910b264
Successfully built nbmerge
Installing collected packages: nbmerge
Successfully installed nbmerge-0.0.4

In [4]:
%load_ext sql

In [5]:
%sql mysql://admin:Saragat4$@isba-dev-01.cpanp5luhr6g.us-east-1.rds.amazonaws.com/sql_project

'Connected: admin@sql_project'

## 1. Data Quality Check: Invalid Data

This query selects all records from the "rankings" table where the rank value is either less than 1 or greater than 200.

In [6]:
%%sql
SELECT *
FROM rankings
WHERE rank < 1 OR rank > 200;

 * mysql://admin:***@isba-dev-01.cpanp5luhr6g.us-east-1.rds.amazonaws.com/sql_project
(MySQLdb._exceptions.OperationalError) (2013, 'Lost connection to MySQL server during query')
[SQL: SELECT *
FROM rankings
WHERE rank < 1 OR rank > 200;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Business Justification: This query can be used to identify the top and bottom ranked players, which can be helpful in targeting high-performing players for sponsorships or partnerships.

Actionable Recommendation: The query has retrieved a list of players ranked either in the top 200 or outside the top 200. The business can use this information to identify potential high-performing players for sponsorships or partnerships.

## 2. Data Quality Check: Missing Data

This query selects the count of all records from the "rankings" table where either the player or country value is null.

In [ ]:
%%sql
SELECT COUNT(*) 
FROM rankings 
WHERE player IS NULL OR country IS NULL;

Business Justification: This query can be used to identify incomplete player or country information, which can be helpful in improving data quality and accuracy.

Business Recommendation: The query has retrieved the number of records with missing player or country values. The business can investigate why this data is missing and take steps to fill in the missing information.

## 3. Data Distribution: Distribution of Players by Country

This query groups the players by country and counts the number of players in each country, then sorts the results in descending order of the number of players.

In [6]:
%%sql
SELECT country, COUNT (* ) AS num_players
FROM rankings
GROUP BY country
ORDER BY num players DESC;

 * mysql://admin:***@isba-dev-01.cpanp5luhr6g.us-east-1.rds.amazonaws.com/sql_project
(MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* ) AS num_players\nFROM rankings\nGROUP BY country\nORDER BY num players DESC' at line 1")
[SQL: SELECT country, COUNT (* ) AS num_players
FROM rankings
GROUP BY country
ORDER BY num players DESC;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Business Justification: This query can be used to identify which countries have the most players ranked in the rankings table. This information can be used to make insights on the methods of training in the various countries and if they are related to each other.

Business Recommendation: The query has retrieved a list of countries and the number of players from each country in the rankings table. The business can use this information to target marketing campaigns to countries with the most players or consider sponsoring events or tournaments in these countries.

## 4. Relationships Between Data: Top 10 Players by Points

This query groups the players by name and sums their total points, then sorts the results in descending order of the total points and limits the results to the top 10 players.

In [ ]:
%%sgl
SELECT player, SUM(points) AS total points
FROM rankings
GROUP BY player
ORDER BY total_points DESC
LIMIT 10;

Business Justification: This query is be used to analyze the overall competitiveness of the rankings table. By identifying the players with the highest total points, the business can gain insights into the level of competition among the players.

Business Recommendation: The query has retrieved a list of the top 10 players in the rankings table based on their total points. The business can use this information to research the sponsors that the top 10 players have, and find common ground on why these players are the best players in the world.

## 5. Outliers: Players with the Highest and Lowest Ranks

This query retrieves all records from the "rankings" table where the rank is equal to either the highest or lowes rank in the table.

In [ ]:
%%sq1
SELECT *
FROM rankings
WHERE rank IN (SELECT MAX (rank) FROM rankings UNION SELECT MIN (rank) FROM rankings);

Business Justification: This query can be used to identify the highest and lowest-ranked players in the rankings table.

Business Recommendation: The business can use this information to identify the reason why there is such a big gap between the highest ranked player and the lowest ranked player. What did the best player in the world have over the lowest ranked player does not? (Further research)

## Primary Questions

## Question 1 - Which players have consistently performed well over time in the rankings table?

Business Justification: This query can be used to identify players who have consistently performed well over time, which can be useful for sponsorship and marketing opportunities. By identifying players who have maintained a high rank over an extended period, businesses can make informed decisions about which players to invest in.

SQL Features used: Common table expression (CTE), Window function

In [8]:
%%sql
WITH player_rank AS (
    SELECT player, rank, ROW_NUMBER() OVER (PARTITION BY player ORDER BY rank) AS rank_num
    FROM rankings
)
SELECT player, AVG(rank) AS avg_rank
FROM player_rank
WHERE rank_num <= 10
GROUP BY player
ORDER BY avg_rank ASC;

 * mysql://admin:***@isba-dev-01.cpanp5luhr6g.us-east-1.rds.amazonaws.com/sql_project
(MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', ROW_NUMBER() OVER (PARTITION BY player ORDER BY rank) AS rank_num\n    FROM ran' at line 2")
[SQL: WITH player_rank AS (
    SELECT player, rank, ROW_NUMBER() OVER (PARTITION BY player ORDER BY rank) AS rank_num
    FROM rankings
)
SELECT player, AVG(rank) AS avg_rank
FROM player_rank
WHERE rank_num <= 10
GROUP BY player
ORDER BY avg_rank ASC;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Insight: The query returns a list of players and their average ranking over the top 10 rankings they achieved. This provides insight into which players have consistently performed well over time and can be used to identify top-performing players that the business can invest in.

Actionable Recommendation: The business can reach out to the players identified in the query and offer them sponsorship or other opportunities to represent the company.

## Related Question 1: What is the distribution of rankings across different countries?

Business Justification: This query can be used to identify which countries have the highest concentration of top-ranked players. By identifying countries with a high concentration of top-performing players, businesses can focus their marketing and sponsorship efforts in those countries.

SQL Features used: GROUP BY, JOIN

In [ ]:
%%sql
SELECT country, COUNT(*) AS num_players, AVG(rank) AS avg_rank
FROM rankings
JOIN (
    SELECT country, MAX(rank) as max_rank
    FROM rankings
    GROUP BY country
) AS max_ranks
ON rankings.country = max_ranks.country AND rankings.rank = max_ranks.max_rank
GROUP BY country
ORDER BY num_players DESC;

Insight: The query returns a list of countries, the number of players from each country, and the average rank of the highest-ranked player from each country. This provides insight into which countries have the highest concentration of top-performing players.

Actionable Recommendation: The business can focus their marketing and sponsorship efforts on countries with a high concentration of top-performing players, as identified in the query.

## Related Question 2: What is the average rank of players from different age groups?

Business Justification: This query can be used to identify which age groups have the highest concentration of top-ranked players. By identifying age groups with a high concentration of top-performing players, businesses can focus their marketing and sponsorship efforts on these age groups.

SQL Features used: CASE, VIEW, GROUP BY

In [11]:
%%sql
CREATE VIEW age_groups AS (
    SELECT player, CASE
        WHEN age < 18 THEN 'Under 18'
        WHEN age >= 18 AND age <= 25 THEN '18-25'
        WHEN age >= 26 AND age <= 35 THEN '26-35'
        ELSE 'Over 35'
    END AS age_group
    FROM rankings
)

SELECT age_group, AVG(rank) AS avg_rank
FROM age_groups
GROUP BY age_group
ORDER BY avg_rank ASC;

 * mysql://admin:***@isba-dev-01.cpanp5luhr6g.us-east-1.rds.amazonaws.com/sql_project
(MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT age_group, AVG(rank) AS avg_rank\nFROM age_groups\nGROUP BY age_group\nORDER' at line 11")
[SQL: CREATE VIEW age_groups AS (
    SELECT player, CASE
        WHEN age < 18 THEN 'Under 18'
        WHEN age >= 18 AND age <= 25 THEN '18-25'
        WHEN age >= 26 AND age <= 35 THEN '26-35'
        ELSE 'Over 35'
    END AS age_group
    FROM rankings
)

SELECT age_group, AVG(rank) AS avg_rank
FROM age_groups
GROUP BY age_group
ORDER BY avg_rank ASC;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Insight: The query returns a list of age groups and their average rank. This provides insight into which age groups have the highest concentration of top-performing players.

Actionable Recommendation: The business can focus their marketing and sponsorship efforts on age groups with a high concentration of top-performing players, as identified in the query.

In [13]:
!nbmerge data_collection.ipynb sql_analysis.ipynb -o presentation.ipynb